<h1><%= @user.username %>'s Page</h1>


<% if !@user.reviews.empty? %>
  <h3>Reviews</h3>

  <ul>
    <% @user.reviews.each do |review| %>
      <li>
        Album Name: <%= review.album.name %><br>
        Artist: <%= review.album.artist %><br>
        Rating: <%= review.rating %>/10<br>
        Review: <%= review.content %>
      </li><br>
    <% end %>
  </ul>

  <h3>Albums Reviewed By <%= @user.username %></h3>

  <ul>
    <% @user.albums.each do |album| %>
      <li>
        Album: <%= album.name %><br>
        Artist: <%= album.artist %>
      </li><br>
    <% end %>
  </ul>

<% else %>
  <h4><i><%= @user.username %> hasn't reviewed any albums yet</i></h4>
<% end %>
