<% if flash.has?(:message) %>
  <h3><font color="red"><%= flash[:message] %></font></h3>
<% end %>

<h1><%= @user.username %>'s Page</h1>


<% if !@user.reviews.empty? %>
  <h3>Reviews</h3>

  <ol>
    <% @user.reviews.each do |review| %>
      <li>
        <%= review.album.name %>, By: <%= review.album.artist %><br>
        Rating: <%= review.rating %>/10<br>
        <a href="/reviews/<%= review.id %>">View Review</a>
      </li><br>
    <% end %>
  </ol>

  <h3>Albums Reviewed By <%= @user.username %></h3>

  <ol>
    <% @user.albums.each do |album| %>
      <li>
        Album: <%= album.name %><br>
        Artist: <%= album.artist %>
      </li><br>
    <% end %>
  </ol>

<% else %>
  <h4><i><%= @user.username %> hasn't reviewed any albums yet</i></h4>
<% end %>
