<h1>Most Recent Reviews</h1>


<% @last_five_reviews.each do |review| %>
      <p><b>ALBUM:</b> <%= review.album.name %><br>
      <b>ARTIST:</b> <%= review.album.artist %><br>
      <b>RATING:</b> <%= review.rating %>/10<br>
      <i>Reviewed By:</i> <%= review.user.username %><br>
      <a href="/reviews/<%= review.id %>">View Review</a>
      </p><br>
<% end %>
