<h1><%= @review.user.username %>'s Review</h1>

<h5>Album:</h5> <%= @review.album.name %>
<h5>Artist:</h5> <%= @review.album.artist %>
<h5>Rating:</h5> <%= @review.rating %>/10
<br>
<br>
  <p>
    <h4><b>Review:</b></h4>
    <%= @review.content %>
  </p>


<br>
<br>
<i><a href="/reviews/<%= @review.id %>/edit">Edit Review</a></i>

<form action=<%= "/reviews/#{@review.id}/delete" %> method="post">
  <br>
  <input type="submit" value="Delete Review">
</form>
